({"0_Strategy" ":a-rp", "Total Mean prob. of ε-privacy breach" 0.5249999761581421, "Mean prob. of ε-privacy breach; ε=0.2" 0.525} {"0_Strategy" ":a-rpcn", "Total Mean prob. of ε-privacy breach" 0.009999999776482582, "Mean prob. of ε-privacy breach; ε=0.2" 0.01} {"0_Strategy" ":a-rpcn-1", "Total Mean prob. of ε-privacy breach" 0.10000000149011612, "Mean prob. of ε-privacy breach; ε=0.2" 0.1} {"0_Strategy" ":score_a-rp:a-rpcn", "Total Mean prob. of ε-privacy breach" 0.02500000037252903, "Mean prob. of ε-privacy breach; ε=0.2" 0.025} {"0_Strategy" ":score_a-rp:a-rpcn-1", "Total Mean prob. of ε-privacy breach" 0.29499998688697815, "Mean prob. of ε-privacy breach; ε=0.2" 0.295})