({"0_Strategy" ":a-rp", "Total Mean prob. of ε-privacy breach" 0.05999999865889549, "Mean prob. of ε-privacy breach; ε=0.2" 0.06} {"0_Strategy" ":a-rpcn", "Total Mean prob. of ε-privacy breach" 0.009999999776482582, "Mean prob. of ε-privacy breach; ε=0.2" 0.01} {"0_Strategy" ":a-rpcn-1", "Total Mean prob. of ε-privacy breach" 0.0949999988079071, "Mean prob. of ε-privacy breach; ε=0.2" 0.095} {"0_Strategy" ":score_a-rp:a-rpcn", "Total Mean prob. of ε-privacy breach" 0.009999999776482582, "Mean prob. of ε-privacy breach; ε=0.2" 0.01} {"0_Strategy" ":score_a-rp:a-rpcn-1", "Total Mean prob. of ε-privacy breach" 0.10000000149011612, "Mean prob. of ε-privacy breach; ε=0.2" 0.1})