({"0_Strategy" ":a-rp", "Total Mean prob. of ε-privacy breach" 0.8100000023841858, "Mean prob. of ε-privacy breach; ε=0.2" 0.81} {"0_Strategy" ":a-rpcn", "Total Mean prob. of ε-privacy breach" 0.029999999329447746, "Mean prob. of ε-privacy breach; ε=0.2" 0.03} {"0_Strategy" ":a-rpcn-1", "Total Mean prob. of ε-privacy breach" 0.10999999940395355, "Mean prob. of ε-privacy breach; ε=0.2" 0.11} {"0_Strategy" ":score_a-rp:a-rpcn", "Total Mean prob. of ε-privacy breach" 0.10999999940395355, "Mean prob. of ε-privacy breach; ε=0.2" 0.11} {"0_Strategy" ":score_a-rp:a-rpcn-1", "Total Mean prob. of ε-privacy breach" 0.7099999785423279, "Mean prob. of ε-privacy breach; ε=0.2" 0.71})