({"Mask" "Cumulative Noise with Cycles - Level 1", "_Mean performance" 0.3044364644, "Performance; e=0.2" 0.3044364644} {"Mask" "Cumulative Noise without Cycles - Level 1", "_Mean performance" 0.30746869, "Performance; e=0.2" 0.30746869} {"Mask" "Logistic Noise - Level 1", "_Mean performance" 0.2957201535999999, "Performance; e=0.2" 0.2957201535999999})