({"0_Strategy" ":a-rp", "Total Mean prob. of ε-privacy breach" 0.006666666828095913, "Mean prob. of ε-privacy breach; ε=0.2" 0.006666667} {"0_Strategy" ":a-rpcn", "Total Mean prob. of ε-privacy breach" 0.009999999776482582, "Mean prob. of ε-privacy breach; ε=0.2" 0.01} {"0_Strategy" ":a-rpcn-1", "Total Mean prob. of ε-privacy breach" 0.05000000074505806, "Mean prob. of ε-privacy breach; ε=0.2" 0.05} {"0_Strategy" ":score_a-rp:a-rpcn", "Total Mean prob. of ε-privacy breach" 0.009999999776482582, "Mean prob. of ε-privacy breach; ε=0.2" 0.01} {"0_Strategy" ":score_a-rp:a-rpcn-1", "Total Mean prob. of ε-privacy breach" 0.05000000074505806, "Mean prob. of ε-privacy breach; ε=0.2" 0.05})