({"0_Strategy" ":a-rp", "Total Mean prob. of ε-privacy breach" 0.1966666728258133, "Mean prob. of ε-privacy breach; ε=0.2" 0.19666667} {"0_Strategy" ":a-rpcn", "Total Mean prob. of ε-privacy breach" 0.03999999910593033, "Mean prob. of ε-privacy breach; ε=0.2" 0.04} {"0_Strategy" ":a-rpcn-1", "Total Mean prob. of ε-privacy breach" 0.07000000029802322, "Mean prob. of ε-privacy breach; ε=0.2" 0.07} {"0_Strategy" ":score_a-rp:a-rpcn", "Total Mean prob. of ε-privacy breach" 0.03999999910593033, "Mean prob. of ε-privacy breach; ε=0.2" 0.04} {"0_Strategy" ":score_a-rp:a-rpcn-1", "Total Mean prob. of ε-privacy breach" 0.1133333370089531, "Mean prob. of ε-privacy breach; ε=0.2" 0.11333334})