({"0_Strategy" ":a-rp", "Total Mean prob. of ε-privacy breach" 0.12249442934989929, "Mean prob. of ε-privacy breach; ε=0.2" 0.12249443} {"0_Strategy" ":a-rpcn", "Total Mean prob. of ε-privacy breach" 0.0467706024646759, "Mean prob. of ε-privacy breach; ε=0.2" 0.046770602} {"0_Strategy" ":a-rpcn-1", "Total Mean prob. of ε-privacy breach" 0.07126948982477188, "Mean prob. of ε-privacy breach; ε=0.2" 0.07126949} {"0_Strategy" ":score_a-rp:a-rpcn", "Total Mean prob. of ε-privacy breach" 0.0467706024646759, "Mean prob. of ε-privacy breach; ε=0.2" 0.046770602} {"0_Strategy" ":score_a-rp:a-rpcn-1", "Total Mean prob. of ε-privacy breach" 0.07572383433580399, "Mean prob. of ε-privacy breach; ε=0.2" 0.075723834})